.footer-container{
  color: rgb(167, 167, 167);
  font-size: 13px;
  font-weight: 400;
  margin-top: 0;
  padding: 0px 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.footer-links{
  text-decoration: none;
  color: rgb(167, 167, 167);
  font-weight: 400;
  font-size: 13px;
}
.footer-container-links{
  text-align: center;
}
