
.page-container{
  margin: 30px 100px 0px ;
  font-size: 20px;
}

.searching-container{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  margin: 0px 70px;
}

.pagination-container{
  margin: 0px 70px;
}

#pagination{
  max-width: 360px;
}
mat-paginator{
  background-color: rgb(245, 245, 245);
  font-size: 14px;
  text-align: left;
}
mat-form-field{
  margin-left: 20px;
  width: 250px;
}

